cffi==1.13.2
clipspy==0.3.2
docutils==0.15.2
imutils==0.5.3
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
numpy==1.17.4
opencv-contrib-python==4.1.1.26
pycparser==2.19
pygame==1.9.4
pygame-menu==2.0.4
PyInstaller==3.4
PyOpenGL==3.1.0
pyparsing==2.3.1
pyperclip==1.7.0
Pygments==2.4.2
pypiwin32==223
pywin32==227
